#profile-picture {
    width: 180px;
    height: 180px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
}

.card {
    max-width: 42rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.hello-plus-name {
    color: #E87A00;
}