.toast {
    box-shadow: none !important;
}

.toast-message {
    font-size: 1rem !important;
}

body, #app {
    min-height: 100vh;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
}

.link {
    text-decoration: none;
    color: #E87A00;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    transform: translateX(0px);
    z-index: -999;
    filter: brightness(0.3) blur(2px);
}

#footer {
    background-color: rgba(0, 0, 0, 0.8);
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: #d17000;
}