.toast {
    box-shadow: none !important;
}

.toast-message {
    font-size: 1rem !important;
}

body, #app {
    min-height: 100vh;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    filter: brightness(0.3) blur(2px);
}

#footer {
    background-color: rgba(0, 0, 0, 0.8);
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar-thumb {
    background: #D8E1E7;
}