#background-image {
    filter: brightness(0.3) blur(0px);
}

.banner {
    height: 60vh;
}

.btn-register {
    background-color: #FF5D00;
    color: #fff;
    border: none;
}

.companies-container {
    row-gap: 30px;
    column-gap: 50px;
}

.top-employers {
    margin-top: 100px;
}