.greeting {
    height: 150px;
    background-color: #2c2c2c;
    color:#0262cf;
    border-radius: 10px;
}

.cards-container {
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    width: 170px;
    height: 150px;
    border: none;
    transition: 100ms ease-in-out;
}

.card:hover {
    filter: brightness(0.95);
}

.view-profile.card {
    color: rgb(226, 253, 226);
    background-color: rgb(0, 77, 0);
}

.edit-profile.card {
    color: rgb(253, 245, 223);
    background-color: rgb(163, 106, 0);
}

.saved-jobs.card {
    color: rgb(250, 239, 255);
    background-color: rgb(138, 0, 138);
}
.jobs-applied.card {
    color: #e8eeff;
    background-color: rgb(0, 0, 119);
}