.page-title {
    color: #fff;
}

.job-post {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#profile-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
}