#sending-invitation-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 95; /*below navbar*/
    display: none;
}

td {
    background-color: #000 !important;
}