.greeting {
    background-color: rgba(0, 0, 0, 0.5);
    row-gap: 20px;
}

.cards-container {
    column-gap: 20px;
    row-gap: 20px;
}

.card {
    width: 170px;
    height: 150px;
    border: none;
    transition: 100ms ease-in-out;
}

.card:hover {
    filter: brightness(0.95);
}

.view-profile.card {
    color: rgb(226, 253, 226);
    background-color: rgba(0, 77, 0, 0.6);
}

.edit-profile.card {
    color: rgb(253, 245, 223);
    background-color: rgba(163, 106, 0, 0.6);
}

.saved-jobs.card {
    color: rgb(250, 239, 255);
    background-color: rgba(138, 0, 138, 0.6);
}
.jobs-applied.card {
    color: #e8eeff;
    background-color: rgba(0, 0, 119, 0.6);
}